/************* Jenna Hackett, ID: 000969721: 

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/


/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* TO DO: all elements with the .flex class applied are to be made into flex-box containers. */

/* elements with .flex have their display set to (flex)*/
.flex {
    display: flex;
}

 
/************* site-wide text styling *************/

/* TO DO:
    - first-level headings are size 48px, centered vertically and horizontally in the available space.
    - 2nd-level headings have a font size of 36px, and 12px of space below.
    - any element with the .large-text class has a font size of 24px.
    - any element with the .fake-button class will have a background colour of mustard yellow (see colour palette above), be center aligned, with a line-height of 3 and a solid black border that is 1px wide.
    - all anchors will have the underline removed and be black in colour. all anchors in the main and footer sections will be underlined in their hover-state.
    - the hover-state of .fake-button and .blue-hover elements will:
        - add an underline, 
        - set the background-colour to cornflower blue (see colour palette above),
        - change the text colour to white, and 
        - change the cursor to pointer.
*/

/*level 1 headings have a (48px) font size, (110px) padding on the left, (40px) padding on the right */
h1 {
    font-size: 48px;
    padding: 40px 0px 0px 110px;
}

/*level 2 headings have a (36px) font size and bottom padding of (12px) */
h2 {
    font-size: 36px;
    padding-bottom: 12px;
}

/*any class labelled as .large-text has a font size of (24px) */
.large-text {
    font-size: 24px;
}

/*any class labelled as .fake-button has a background color of mustard yellow (#E5AF42), are center aligned, have a line height
of (3px) and a border which is solid, (1px) and black */
.fake-button {
    background-color: #E5AF42;
    align-items: center;
    line-height: 3px;
    border: solid 1px black;
}

/*anchors will not have any text decoration until hovered over. the text will be black. */
a {
    text-decoration: none;
    color: black;
}

/*once hovered over, the anchors and the text inside the buttons will be underlined */
main a:hover,
footer a:hover,
.fake-button:hover,
.blue-hover:hover {
    text-decoration: underline;
}

/*once hovered over, the buttons will have a background color of cornflower blue (#4278e5), the text will become white 
and the cursor will change to a pointer */
.fake-button:hover,
.blue-hover:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

/************* header/footer styling *************/

/* TO DO:
    - the header and footer will be the same mustard-yellow as the buttons.
    - the header is 150px tall.
    - the header image is 100px wide and tall with 25px of space above, below, and on its left, and the top-level heading is centered in the remaining width.
    - there will be 25px of space between the header and main, and 50px of space between main and footer.
    - the footer will be 60px tall, have a font-weight of 200, and the text within will be centered vertically and horizontally.
*/

/*the header and footer both have a background color of mustard yellow (#E5AF42)*/
header,
footer {
    background-color: #E5AF42;
}

/*the header has a height of (150px) and bottom margin of (25ps)*/
header {
    height: 150px;
    margin-bottom: 25px;
}

/*the image in the header has a width and height of (100px), and padding on the top, bottom and left of (25px)*/
header img {
    width: 100px;
    height: 100px;
    padding: 25px 0px 25px 25px;
}

/*the main content, has a padding-bottom of (50px)*/
main {
    padding-bottom: 50px;
}

/*the footer has a height of (60px), padding on the top and bottom of (20px), the font weight is (200), and the text is aligned center */
footer {
    height: 60px;
    padding: 20px 0px 20px 0px;
    font-weight: 200;
    text-align: center;
}


/************* index page *************/

/* TO-DO: 
    - this is a 2-column layout: text on the left, and an image on the right. The image will be 300px wide, with 25px between it and the text column, which takes up the remaining space. The image will also have 50px of space below.
    - the h2 on this page will have a line-height equal to the font size.
    - each paragraph on this page will have 12px of space beneath it.
    - each fake-button on this page will be 250px wide with 150px of space between them.
    - the pair of fake-buttons will be centered on the page.
        HINT: can calculate the required margin to make them appear to be centered.
*/

/*the image on the index page, has a (300px) width, a bottom margin of (50px), and a left margin of (25px)*/
.index img {
    width: 300px;
    margin: 0px 0px 50px 25px;
}

/*the level 2 heading on the index page has a line-height of (36px)*/
.index h2 {
    line-height: 36px;
}

/*the paragraph on the index page has a margin-bottom of (12px)*/
.index p {
    margin-bottom: 12px;
}

/*the .fakebutton on the index page has a width of (250px), padding on the top/bottom of (30px), and padding on the left/right of (20px)*/
.index .fake-button {
    width: 250px;
    padding: 30px 20px;
    text-align: center;
}

/*.flex content (buttons) on the index page displays are set to flex, there is a 150px gap between them, and the content is center justified.*/
.index .flex {
    display: flex;
    gap: 150px;
    justify-content: center;
}



/************* bookings page *************/

/* TO-DO:
    - the contents of the booking-page will be 600px wide, and all content centered within the available space.
    - text will have a size of 18px.
    - there will be 12px of space below the day-selectors, and 20px of space between each list item. List items are 60px wide.
    - List items & the small-button elements will have a solid black border that is 1px wide. Small-buttons will also have 5px of space between the border and the content.
    - items tagged with .top-margin will have 24 px of space above, and 12px of space below.
    - the "clear days" button will be 200px wide.
    - any element tagged with the .clicked class will turn mustard yellow. **This will be very important for your JavaScript.**
    - all items within the page will be centered within their available space.

*/

/*the booking page has a width of (600px) and the margin set to 0 auto, to center the content.
the text is aligned center, and the font size is (18px)*/
.booking-page {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

/*the .dayselectors on the booking page has a flex display, content is center justified with a gap of 
(20px), and a bottom margin of (12px)*/
.day-selector {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 12px;
}

/*the .dayselector buttons have a width of (60px) each*/
.day-selector li {
    width: 60px;
}

/*the .dayselector buttons and the full/half day buttons, have a solid, (1px), black border.*/
.day-selector li,
.small-button {
    border: solid 1px black;
}

/*the full/half day buttons have a padding on all sides of (5px)*/
.small-button {
    padding: 5px;
}

/*content tagged as class .top-margin, has margins of (24px) on the top and (12px) on the bottom*/
.top-margin {
    margin: 24px 0px 12px 0px;
}

/*the clear-days button will have a width of (200px), margin 0 auto to center, and a padding of
(25px) on top and bottom*/
#clear-button {
    width: 200px;
    margin: 0 auto;
    padding: 25px 0px;
}

/*the .clicked class of buttons will have a background color of mustard yellow (#E5AF42)*/
.clicked {
    background-color: #E5AF42;
}


/************* contact page *************/
/* TO DO:
    - the main section of the .contact page will be 420px tall, and centered.
    - the contents will be 2 columns: the labels column is 150px wide and right-aligned, and the input column is 300px wide. There will be 24px of space between the columns, and the pair of columns will be centered on the page.
    - the textarea element will be 150px tall.
    - all form input, textarea, and and button elements will have the same font as the rest of the page, a line-height of 24px, a font-size of 16px, and the same border as other buttons on the site. There will be 24px of space below each of these elements.
    - the edges of the button will line up exactly with the text-area element. HINT: time for some math!
*/

/*the main content on the contact page has a height of (420px), and margin set 0 auto to be centered*/
#contact-page main {
    height: 420px;
    margin: 0 auto;
}

/*the 2nd level headings on the contact page, will be center aligned.*/
#contact-page h2 {
    text-align: center;
}

/* the form is centered using margin 0 uato, and making it 474px wide (150px(label) + 24px(margin) + 300px(inputs)*/
form {
    width: 474px;
    margin: 0 auto;
}

/*labels all have a width of (150px), the text is aligned to the right, and the right margin is
set at (24px)*/
label {
    width: 150px;
    text-align: right;
    margin-right: 24px;
}

/*the inputs and the text area have wdiths set to (300px)*/
input,
textarea {
    width: 300px;
}

/*the inputs, the text area, and the button have the same text as the rest of the page (), a (24px) line-height,
the font size has been set to (16px). They have solid, (1px) black borders, and the bottom margin is set to 
(24px)*/
input,
textarea,
button {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    border: solid 1px black;
    margin-bottom: 24px;
}

/*the text area has a height of (150px)*/
textarea {
    height: 150px;
}

/*the submit button has a width of (300px), the same as the input field and text area, a left margin set to (174px),
and padding on the top/bottom of (25px).*/
#submit-button {
    width: 300px;
    margin-left: 174px;  /* input column starts after 150px(label) + 24px(margin) = 174px */
    padding: 25px 0px;
}